//Experience
#experience{
    //Course modal
    .program-courses-wrapper{
        margin-top: 1rem;
    }
    .modal-courses-content{
        border-width: 3px;
        border-color: $darkPurple;
        .modal-courses-header{
            color: $secondaryOrange;
            background-color: $darkPurple;
            margin-left: -1px !important;
            margin-right: -1px !important;
            margin-top: -1px !important;
            border-bottom-color: $darkPurple;

            .close{
                text-shadow: 0 1px 0 lighten($secondaryOrange, 25%);
                color: $secondaryOrange;
                &:hover{
                    color: $mainOrange;
                }
            }
        }
        .modal-courses-body{
            background-color: lighten($lightPurple, 20%);
            color: $darkPurple;
            margin-left: -1px !important;
            margin-right: -1px !important;
            .course-name{
                font-weight: bold;
            }
            tr{
                border-color: $darkPurple;
            }
            input[type='search']{
                border-radius: .3rem;
                border-color: $darkPurple;
                background-color: lighten($lightPurple, 30%);
            }
            select{
                background-color: lighten($lightPurple, 30%);;
                border-color: $darkPurple;
                color: $darkPurple;
            }
        }
        .modal-courses-footer{
            background-color: lighten($lightPurple, 20%);
            color: $darkPurple;
            margin-left: -1px !important;
            margin-right: -1px !important;
            border-top-color: $darkPurple;
        }
    }
    .page-item{
        a.page-link{
            color: $darkPurple; 
            background-color: lighten($lightPurple, 15%);
            border-color: $darkPurple;
        }
        &.disabled a.page-link{
            background-color: lighten($lightPurple, 25%);
            color: lighten($darkPurple, 10%);
        }
        &.active a.page-link{
            background-color: $darkPurple;
            color: $secondaryOrange;
            border-color: $secondaryOrange;
        }
    }
    .card-company, .card-certificate, .card-institute, .card-program-aggregation, .card-award{
        .award-subtitle{
            margin-bottom: 0px;
        }
        border-color: $darkPurple;
        border-width: 3px;
        border-radius: .5rem;
        .card-header-company, .card-header-certificate, .card-header-institute, .card-header-program-aggregation, .card-header-award{
            color: $secondaryOrange;
            background-color: $darkPurple;
            margin-left: -1px !important;
            margin-right: -1px !important;
            margin-top: -1px !important;
            .company-location{
                color: rgb(198,186,216);
            }
        }
        .card-body-company, .card-body-certificate, .card-body-institute, .card-body-program-aggregation, .card-body-award{
            background-color: rgba(lighten($lightPurple, 20%), 0.72);
            color: $darkPurple;
            border-bottom-right-radius: 0.3rem;
            border-bottom-left-radius: 0.3rem;
            margin-left: -1px !important;
            margin-right: -1px !important;
            .company-hr, .certificate-hr, .institute-hr, .program-aggregation-hr{
                border-color: $darkPurple;
            }
            .company-website-div, .institute-website-div{
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                .company-website, .institute-website{
                    font-weight: bold;
                    color: $darkPurple;
                    text-decoration: none;
                    &:hover{
                        color: $darkPurple;
                        text-decoration: underline $darkPurple wavy !important;
                        cursor: pointer !important;
                    }
                }
            }
            .certificate-url{
                font-weight: bold;
                color: $darkPurple;
                text-decoration: none;
                &:hover{
                    color: $darkPurple;
                    text-decoration: underline $darkPurple wavy !important;
                    cursor: pointer !important;
                }
            }
            .certificate-tags, .certificate-description, .program-tags, .program-description, .award-tags, .award-description{
                margin-top: 0.5rem;
            }
        }
    }
    
    h5{
        padding-top: 0.5em;
    }
    
    .showCoursesButton{
        color: $darkPurple !important;
        font-weight: bold !important;
        border-color: $darkPurple !important;
        border-width: 2px !important;
        background-color: rgba(255, 255, 255, 0.7) !important;
        &:hover{
            background-color: $darkPurple !important;
            color: $secondaryOrange !important;
            border-color: $darkPurple !important;
        }
        &:active{
            background-color: $darkPurple !important;
            color: $secondaryOrange !important;
            border-color: $darkPurple !important;
        }
        &:focus{
            outline-color: $lightPurple !important;
            box-shadow: 0 0 0 0.2rem rgba(123, 95, 165,.50) !important;
        }
    }
}