//Softskills
#hobbies{
    .hobby-row{
        .hobby-col{
            margin-top: 15px;
            margin-bottom: 15px;
            .card-hobby{
                border-color: $darkPurple;
                border-width: 3px;
                border-radius: .5rem;
                .card-header-hobby{
                    color: $secondaryOrange;
                    background-color: $darkPurple;
                    margin-left: -1px !important;
                    margin-right: -1px !important;
                    margin-top: -1px !important;
                }
                .card-body-hobby{
                    background-color: rgba(lighten($lightPurple, 20%), 0.72);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    border-bottom-right-radius: 0.3rem;
                    border-bottom-left-radius: 0.3rem;
                    margin-left: -1px !important;
                    margin-right: -1px !important;
                    min-height: 240px;

                    display: flex;
                    flex-direction: column;
                    
                    .hobby-description-container{
                        margin: 10px;
                        padding: 5px;
                        border-radius: 0.3rem;
                        background-color: rgba(lighten($lightPurple, 30%), 0.70);
                        color: $darkPurple;

                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        .row {
                            flex-grow: 1;
                            .col{
                                flex-grow: 1;
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }

                }
            }
        }
    }
}