//Softskills
#softskills{
    .softskill-row{
        .softskill-col{
            margin-top: 15px;
            margin-bottom: 15px;
            .card-softskill{
                border-color: $darkPurple;
                border-width: 3px;
                border-radius: .5rem;
                .card-header-softskill{
                    color: $secondaryOrange;
                    background-color: $darkPurple;
                    margin-left: -1px !important;
                    margin-right: -1px !important;
                    margin-top: -1px !important;
                }
                .card-body-softskill{
                    background-color: rgba(lighten($lightPurple, 20%), 0.72);
                    color: $darkPurple;
                    border-bottom-right-radius: 0.3rem;
                    border-bottom-left-radius: 0.3rem;
                    margin-left: -1px !important;
                    margin-right: -1px !important;
                }
            }
        }
    }
}
