$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

@import "./Colors";
@import "./svgBackground";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

$navTextTransparent: rgba(255,255,255,.8);
$navText: $mainOrange;
$navbarGap: 16px;

//General
#app{
    background: $secondaryOrange;
    min-height: 100vh;
    background-image: url($cogBackground);
    
    //verbosity
    &[verbosity="false"]{
        .verbosity-on{
            display: none;
        }
    }
    &[verbosity="true"]{
        .verbosity-off{
            display:none;
        }
    }

    &[showTags="true"]{
        .tags-container{
            display: block;
        }
    }

    &[showTags="false"] {
        .tags-container{
            display: none;
        }
    }

    .header{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        &.header-light{
            font-weight: 300;
        }
    }

    .anchor{
        padding-top: 80px;
        margin-top: -80px;
    }
}

main.content{
    padding-top: 100px;
    padding-bottom: 5rem;
    color: $darkPurple;

    .card{
        box-shadow: 6px 6px 4px 1px rgba($color: $darkPurple, $alpha: 0.5);
    }
}

@import './Navbar';

@import './Footer';


//Ranker
.rankerPoint{
    color: #31263E;
}
//About page
#about{
    #description{
        font-size: 1.2rem;

        a{
            font-weight: bold;
                color: $darkPurple;
                text-decoration: underline $darkPurple solid;
                transition: text-decoration-style 1s ease-in-out;
                &:hover{
                    text-decoration-style: wavy;
                    cursor: pointer !important;
                }
        }
    }
    .languageRatingMeaning {
        font-weight: bold;
    }

    .skill-logo{
        margin-bottom: .5rem;
        @media (min-width: 768px) { 
            margin-bottom: 0px;
        }
    }

    .skill-category-button-container{
        @media (min-width: 576px) { min-width: 50%; }
        @media (min-width: 768px) { min-width: 33%; }
        &.open{
            min-width: 100% !important;
        }
    }

    .skill-category-button-text{
        font-size: 1.8rem;
    }

    .certificate-link-icon{
        font-size: 12px;
    }

    .skill-category-content{
        &[visibility="true"]{
            display: block;
        }
        &[visibility="false"]{
            display: none;
        }
    }
}

a.iconWrapper{
    color: $darkPurple;
    height: 48px !important;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    svg{
        font-size: 2rem;
        transition: font-size, color 2s ease-in-out;
        &:hover{
            font-size: 48px;
            color: $lightPurple;
        }
    }
}


.expander-icon{
    font-size: 2rem;
    transition: font-size .5s ease-in-out;
    cursor: pointer;
}

.expander-icon:hover{
    font-size: 1.5rem;
}

#profile-pic{
    border: $darkPurple solid 8px;
    width: 300px;
}


.purpleButtonOutline{
    color: $darkPurple;
    border-color: $darkPurple;
    border-width: 3px;
    background-color: transparent;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 5px 2px rgba($color: $darkPurple, $alpha: 0.5);
    &:hover{
        background-color: $darkPurple;
        color: $secondaryOrange;
        border-color: $darkPurple;
    }
    &:active{
        background-color: $darkPurple !important;
        color: $secondaryOrange !important;
        border-color: $darkPurple !important;
    }
    &:focus{
        outline-color: $lightPurple;
        box-shadow: 0 0 0 0.2rem rgba(123, 95, 165,.50);
    }
    &.open{
        box-shadow: none;
        background-color: $darkPurple !important;
        color: $secondaryOrange !important;
        border-color: $darkPurple !important;
    }
}

.svgLogo{
    display: block;
    max-width:100px;
    width: auto;
    height: auto;
}

.AboutTitle{
    margin-bottom: 0px;
    padding-top: 3rem;
}

.AboutDetailsRow{
    padding-top: 1.8rem;
}

.AboutDetailsParagraph {
    margin-bottom: 0px;
}

.expanded-section{
    background-color: rgba(lighten($lightPurple, 20%), 0.72);
    margin-bottom: 15px;
    z-index: 1;
    margin-top: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


@import './Experience';

@import './Hobbies';

@import './Portfolio';

@import './Softskills';